<%= render :layout => 'title' do %>
  <%= alert_if_deployed %>

  <%= form_for(@deployment, :url => wizard_path, :method => 'PUT') do |f| %>
    <%= base_errors_for @deployment %>

    <div class="wizard-container">
      <%= deployment_wizard 1 %>
    </div>

    <%= text_f f, :name %><br />
    <%= textarea_f f, :description, :rows => 3 %><br />

    <div class="row">
      <div class="clearfix">
        <div class="form-group">
          <label class="col-md-2 control-label" for="layout_id"><%= _("Deployment Layout") %></label>
          <div class="col-md-6">
            <% @layouts.each do |layout| %>
              <%= radio_button_f_non_inline(f, :layout_id, :checked => layout.id == @deployment.layout_id,:value=>layout.id, :text=> "#{layout.name}, #{layout.networking.capitalize} " + _("Networking")) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

<!--     <div class="row">
      <%= f.label :services_password, _("Services Password"), :class => "col-md-2 control-label" %><br />
      <div class="row">
        <div class="col-md-8">
          <%= f.radio_button :services_password, false, :checked => true %>
          <%= f.label :services_password, _("Use single password for all services"), :value => "single_password" %><br />
          <div class="row">
            <%= f.label :password, _("Password*"), :class=>"col-md-3 control-label"%>
            <%= f.password_field :password,  :class=>"col-md-5" %>
          </div><br />
          <div class="row">
            <%= f.label :confirm_password, _("Confirm Password*"), :class=>"col-md-3 control-label" %>
            <%= f.password_field :confirm_password, :class=>"col-md-5" %>
          </div><br />
          <%= f.radio_button :services_password, false, :checked => false %>
          <%= f.label :services_password, _("Generate random passwords for all services"), :value => "random_password" %>
        </div>
      </div>
    </div>
 -->
    <div class="form_actions">
      <% if !is_new %>
        <%= link_to _("Cancel"), deployment_path(@deployment),
                    :class => "btn btn-danger" %>
      <% else %>
        <%= link_to _("Cancel"), deployment_path(@deployment), :method => :delete,
                    :confirm => _("This will clear whole deployment configuration. Are you sure?"),
                    :class => "btn btn-danger" %>
      <% end %>
      <%= button_tag(:type => 'submit', :class => "btn btn-primary pull-right") do %>
        <%= _("Next") %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </div>
  <% end %>
<% end %>
