<%= render :layout => 'title' do %>
  <%= form_for(@deployment, :url => wizard_path, :method => 'PUT') do |f| %>
    <%= base_errors_for @deployment %>

    <%= deployment_wizard 2 %>
    <h3><%= _("Host Groups & Available Services") %></h3>
    <h4><%= Staypuft::Layout.last.name + " - " + Staypuft::Layout.last.networking.capitalize %></h4>

    <div class="panel panel-default service-box">
      <div class="panel-heading"><strong><%= _("Controller") %></strong></div>
      <div class="panel-body">
        <%= f.label :qpid, "Qpid", :class=> "checkbox inline"  do %>
         <%= f.check_box(:qpid, :checked => true, :disabled => "disabled") %>Qpid&trade;
        <% end %>
        <%= f.label :mysql,  "MySQL", :class=> "checkbox inline" do %>
         <%= f.check_box(:mysql, :checked => true, :disabled => "disabled") %>MySQL
        <% end %>
        <%= f.label :keystone,  "Keystone", :class=> "checkbox inline" do %>
         <%= f.check_box(:keystone, :checked => true, :disabled => "disabled") %>Keystone
        <% end %>
        <%= f.label :nova_scheduler, "Nova Scheduler", :class=> "checkbox inline" do %>
         <%= f.check_box(:nova_scheduler, :checked => true, :disabled => "disabled") %>Nova Scheduler
        <% end %>
        <%= f.label :nova_api,  "Nova API", :class=> "checkbox inline" do %>
         <%= f.check_box(:nova_api, :checked => true, :disabled => "disabled") %>Nova API
        <% end %>
        <%= f.label :glance,  "Glance", :class=> "checkbox inline" do %>
         <%= f.check_box(:glance, :checked => true, :disabled => "disabled") %>Glance
        <% end %>
        <%= f.label :ceilometer,  "Ceilometer", :class=> "checkbox inline" do %>
         <%= f.check_box(:ceilometer, :checked => true, :disabled => "disabled") %>Ceilometer
        <% end %>
       </div>
    </div>

    <div class="panel panel-default service-box">
      <div class="panel-heading"><strong><%= _("Network") %></strong></div>
      <div class="panel-body">
        <%= f.label :neutron,  "Neutron - L3", :class=> "checkbox inline" do %>
         <%= f.check_box(:neutron, :checked => true, :disabled => "disabled") %>Neutron - L3
        <% end %>
        <%= f.label :dhcp,  "DHCP", :class=> "checkbox inline" do %>
         <%= f.check_box(:dhcp, :checked => true, :disabled => "disabled") %>DHCP
        <% end %>
        <%= f.label :ovs,  "OVS", :class=> "checkbox inline" do %>
         <%= f.check_box(:ovs, :checked => true, :disabled => "disabled") %>OVS
        <% end %>
       </div>
    </div>

    <div class="panel panel-default service-box">
      <div class="panel-heading"><strong><%= _("Compute") %></strong></div>
      <div class="panel-body">
        <%= f.label :nova_compute,  "Nova Compute", :class=> "checkbox inline" do %>
         <%= f.check_box(:nova_compute, :checked => true, :disabled => "disabled") %>Nova Compute
        <% end %>
        <%= f.label :neutron_ovs_agent,  "Neutron OVS Agent", :class=> "checkbox inline" do %>
         <%= f.check_box(:neutron_ovs_agent, :checked => true, :disabled => "disabled") %>Neutron OVS Agent
        <% end %>
       </div>
    </div>

    <div class="panel panel-default service-box">
      <div class="panel-heading"><strong><%= _("Volume Storage") %></strong></div>
      <div class="panel-body">
        <%= f.label :cinder,  "Cinder", :class=> "checkbox inline" do %>
         <%= f.check_box(:cinder, :checked => true, :disabled => "disabled") %>Cinder
        <% end %>
       </div>
    </div>

    <div class="panel panel-default service-box">
      <div class="panel-heading"><strong><%= _("Object Storage") %></strong></div>
      <div class="panel-body">
        <%= f.label :swift, :class=> "checkbox inline" do %>
          <%= f.check_box(:swift, :checked => true, :disabled => "disabled") %>Swift
        <% end %>
      </div>
    </div>

    <div class="form_actions">
      <a class="btn btn-default" href="<%= previous_wizard_path %>">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <%= _("Back") %>
      </a>
      <%= link_to _("Cancel"), deployment_path(@deployment), :method => :delete,
                  :confirm => _("This will clear whole deployment configuration. Are you sure?"),
                  :class => "btn btn-danger" %>
      <%= button_tag(:type => 'submit', :class => "btn btn-primary pull-right") do %>
        <%= _("Next") %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </div>
  <% end %>
<% end %>
