<div id="fencing_form">
  <%= f.fields_for :fencing do |fencing_fields| %>
    <%= fencing_fields.fields_for :attrs do |attrs_fields| %>
      <%= checkbox_f attrs_fields, :fencing_enabled,
                                   label: _("Enable Fencing") %>
      <%= select_f attrs_fields, :fencing_type, [_("IPMI")], :to_s, :to_s,
                                 { include_blank: true },
                                 { label: _("Type") } %>
      <%= text_f attrs_fields, :fence_ipmilan_address,
                               label: _("IP Address") %>
      <%= text_f attrs_fields, :fence_ipmilan_username,
                               label: _("Username")%>
      <%= password_f attrs_fields, :fence_ipmilan_password,
                                   label: _("Password"),
                                   placeholder: '********' %>
      <%= checkbox_f attrs_fields, :fence_ipmilan_expose_lanplus,
                                   label: _("Expose Lanplus") %>
      <%= text_f attrs_fields, :fence_ipmilan_lanplus_options,
                               label: _("Lanplus Options") %>
    <% end %>
  <% end %>
</div>
<div id="fencing_disabled_notice" style="display: none;">
  <%= _("Fencing is disabled. To enable, first you need to add a BMC interface to the Host.") %>
</div>