<div id="fencing_form">
  <%= f.fields_for :fencing, @host.fencing do |fencing_fields| %>
      <%= checkbox_f fencing_fields, :fencing_enabled,
                                   label: _("Enable Fencing") %>
      <%= select_f fencing_fields, :fencing_type, ::Host::Managed::FENCING_TYPES, :first, :last,
                                 { include_blank: true },
                                 { label: _("Type") } %>
      <%= text_f fencing_fields, :fence_ipmilan_address,
                               label: _("IP Address") %>
      <%= text_f fencing_fields, :fence_ipmilan_username,
                               label: _("Username")%>
      <%= password_f fencing_fields, :fence_ipmilan_password,
                                   label: _("Password"),
                                   placeholder: '********' %>
      <%= checkbox_f fencing_fields, :fence_ipmilan_expose_lanplus,
                                   label: _("Expose Lanplus") %>
      <%= text_f fencing_fields, :fence_ipmilan_lanplus_options,
                               label: _("Lanplus Options") %>
  <% end %>
</div>
<div id="fencing_disabled_notice" style="display: none;">
  <%= _("Fencing is disabled. To enable, first you need to add a BMC interface to the Host.") %>
</div>