<div class="cinder">
  <h5><%= _(Staypuft::Deployment::CinderService::DriverBackend::HUMAN) %></h5>
  <div class="col-md-12 clearfix cinderPicker" id="cinderPicker">
    <%= f.fields_for :cinder, @deployment.cinder do |p| %>
      <%= base_errors_for @deployment.cinder %>
      <div class="form-group <%= @deployment.cinder.errors.empty? ? "" : 'has-error' %> hide"></div>
      <%= check_box_f_non_inline(p, :backend_nfs,
                                 :checked_value   => 'true',
                                 :unchecked_value => 'false',
                                 :text            => _(Staypuft::Deployment::CinderService::DriverBackend::LABELS['nfs']))
      %>
      <div class="cinder_nfs_uri col-md-offset-1 hide">

        <%= text_f p, :nfs_uri, class: "cinder_nfs_uri",
                   label:              _(Staypuft::Deployment::CinderService::NfsUri::HUMAN),
                   help_inline:        _(Staypuft::Deployment::CinderService::NfsUri::HUMAN_AFTER) %>

      </div>

      <%= check_box_f_non_inline(p, :backend_lvm,
                                 :checked_value   => 'true',
                                 :unchecked_value => 'false',
                                 :checked         => @deployment.cinder.lvm_backend?,
                                 :group_class     => @deployment.ha? ? "hide" : "",
                                 :text            => _(Staypuft::Deployment::CinderService::DriverBackend::LABELS['lvm']))
      %>

      <%= check_box_f_non_inline(p, :backend_ceph,
                                 :checked_value   => 'true',
                                 :unchecked_value => 'false',
                                 :text            => _(Staypuft::Deployment::CinderService::DriverBackend::LABELS['ceph']))
      %>

      <%= check_box_f_non_inline(p, :backend_eqlx,
                                 :checked_value   => 'true',
                                 :unchecked_value => 'false',
                                 :text            => _(Staypuft::Deployment::CinderService::DriverBackend::LABELS['equallogic']))
      %>
      <div class="cinder_equallogic col-md-offset-1 hide">
        <div id="eqlxs" class="cinder_equallogic_picker">
        <% @deployment.cinder.eqlxs.each_with_index do |eqlx, index| %>
          <%= p.fields_for "eqlxs[]", eqlx, index: index do |e| %>
            <% render partial: 'cinder_equallogic_form', locals: {e: e} %>
          <% end %>
        <% end %>
        </div>
        <script type='html/template' id='eqlx_form_template'>
          <%= p.fields_for 'eqlxs[]', Staypuft::Deployment::CinderService::Equallogic.new, index: 'NEW_RECORD' do |e| render(partial: 'cinder_equallogic_form', locals: {e: e}); end %>
        </script>
        <button type="button" class= "btn btn-primary btn-sm add_another_server"><%= _("Add Another Server") %></button>
    </div>
    <%end%>
  </div>
</div>

