<%= f.fields_for :cinder, @deployment.cinder do |p| %>
  <%= field(p, :driver_backend, :label => _(Staypuft::Deployment::CinderService::DriverBackend::HUMAN)) do
    @deployment.cinder.backend_labels_for_layout.map do |value, label|
      radio_button_f_non_inline(p, :driver_backend,
                                :checked => @deployment.cinder.driver_backend == value,
                                :value   => value,
                                :text    => label)
    end.join
  end %>

  <div class="cinder_nfs_uri col-md-offset-0 hide">
    <%= text_f p, :nfs_uri, class: "cinder_nfs_uri",
               label:              _(Staypuft::Deployment::CinderService::NfsUri::HUMAN),
               help_inline:        _(Staypuft::Deployment::CinderService::NfsUri::HUMAN_AFTER) %>

  </div>
  <div class="cinder_equallogic col-md-offset-0 hide">
    <%= text_f p, :san_ip, class: "cinder_equallogic",
               label:              _(Staypuft::Deployment::CinderService::SanIp::HUMAN) %>
    <%= text_f p, :san_login, class: "cinder_equallogic",
               label:              _(Staypuft::Deployment::CinderService::SanLogin::HUMAN) %>
    <%= text_f p, :san_password, class: "cinder_equallogic",
               label:              _(Staypuft::Deployment::CinderService::SanPassword::HUMAN) %>
    <%= text_f p, :eqlx_pool, class: "cinder_equallogic",
               label:              _(Staypuft::Deployment::CinderService::EqlxPool::HUMAN) %>
    <%= text_f p, :eqlx_group_name, class: "cinder_equallogic",
               label:              _(Staypuft::Deployment::CinderService::EqlxGroupName::HUMAN) %>

  </div>
<% end %>
