          <div class="netapp well">
            <h5 class="muted"><a href="#" class="remove"><i class="glyphicon glyphicon-remove-sign ">&nbsp;</i></a>&nbsp;Storage System #<span class="server_number">1</span></h5>
            
            <div class="netapp-main">
              <%= select_f e, :storage_family, Staypuft::Deployment::CinderService::Netapp::STORAGE_FAMILIES,
                         :first, :last, 
                         {},
                         { :label => _(Staypuft::Deployment::CinderService::NetappStorageFamily::HUMAN) } %>
              <%= select_f e, :storage_protocol, Staypuft::Deployment::CinderService::Netapp::STORAGE_PROTOCOLS,
                         :first, :last, 
                         {},
                         { :label => _(Staypuft::Deployment::CinderService::NetappStorageProtocol::HUMAN) } %>
              <%= text_f e, :hostname, class: "cinder_netapp",
                         label:      _(Staypuft::Deployment::CinderService::NetappHostname::HUMAN) %>
              <%= text_f e, :login, class: "cinder_netapp",
                         label:      _(Staypuft::Deployment::CinderService::NetappLogin::HUMAN) %>
              <%= password_f e, :password, class: "cinder_netapp",
                         label:      _(Staypuft::Deployment::CinderService::NetappPassword::HUMAN) %>
              <%= text_f e, :server_port, class: "cinder_netapp",
                         label:      _(Staypuft::Deployment::CinderService::NetappServerPort::HUMAN) %>
              
              <%= select_f e, :transport_type, Staypuft::Deployment::CinderService::Netapp::TRANSPORT_TYPES,
                         :first, :last,
                         {},
                         { :label => _(Staypuft::Deployment::CinderService::NetappTransportType::HUMAN) } %>
            </div>

            <div class="netapp-nfs netapp-option">
              <%= text_f e, :nfs_shares_config, class: "cinder_netapp",
                         label:      _(Staypuft::Deployment::CinderService::NetappNfsSharesConfig::HUMAN) %>
            </div>

            <div class="netapp-7mode-iscsi netapp-option hidden">
              <%= text_f e, :volume_list, class: "cinder_netapp",
                         label:      _(Staypuft::Deployment::CinderService::NetappVolumeList::HUMAN) %>
              <%= text_f e, :vfiler, class: "cinder_netapp",
                         label:      _(Staypuft::Deployment::CinderService::NetappVfiler::HUMAN) %>
            </div>

            <div class="netapp-vserver netapp-option">
              <%= text_f e, :vserver, class: "cinder_netapp",
                         label:      _(Staypuft::Deployment::CinderService::NetappVserver::HUMAN) %>
            </div>

            <div class="netapp-eseries netapp-option hidden">
              <%= text_f e, :controller_ips, class: "cinder_netapp",
                         label:      _(Staypuft::Deployment::CinderService::NetappControllerIps::HUMAN) %>
              <%= text_f e, :sa_password, class: "cinder_netapp",
                         label:      _(Staypuft::Deployment::CinderService::NetappSaPassword::HUMAN) %>
              <%= text_f e, :storage_pools, class: "cinder_netapp",
                         label:      _(Staypuft::Deployment::CinderService::NetappStoragePools::HUMAN) %>
            </div>
          </div>
