<%= render :layout => 'title' do %>
  <%= alert_if_deployed %>

  <%= form_for(@deployment, :url => wizard_path, :method => 'PUT') do |f| %>
    <%= base_errors_for @deployment %>

    <div class="wizard-container">
      <%= deployment_wizard 1 %>
    </div>

    <%= text_f f, :name %>
    <%= textarea_f f, :description, :rows => 3 %>

    <% { layout_name: Staypuft::Deployment::LayoutName,
         networking:  Staypuft::Deployment::Networking,
         hypervisor:  Staypuft::Deployment::Hypervisor,
         platform:    Staypuft::Deployment::Platform }.
           each do |attr, constants| %>

      <%= field(f, attr, :label => _(constants::HUMAN)) do
        constants::LABELS.map do |value, label|
          radio_button_f_non_inline(f, attr,
                                    :checked => value == @deployment.send(attr),
                                    :value   => value,
                                    :text    => _(label))
        end.join
      end %>
    <% end %>

    <div class="row">
      <%= f.fields_for :passwords, @deployment.passwords do |p| %>
        <%= p.label Staypuft::Deployment::PasswordService::Mode::HUMAN, :class => "col-md-2 control-label" %>
        <br/>

        <div class="row">
          <div class="col-md-8">
            <%= radio_button_f_non_inline(p, :mode,
                                          :checked => @deployment.passwords.mode == Staypuft::Deployment::PasswordService::Mode::SINGLE,
                                          :value   => Staypuft::Deployment::PasswordService::Mode::SINGLE,
                                          :text    => Staypuft::Deployment::PasswordService::Mode::LABELS[Staypuft::Deployment::PasswordService::Mode::SINGLE])
            %>
            <%= password_f p, :service_password %>
            <%= password_f p, :service_password_confirmation %>
            <%= radio_button_f_non_inline(p, :mode,
                                          :checked => @deployment.passwords.mode == Staypuft::Deployment::PasswordService::Mode::RANDOM,
                                          :value   => Staypuft::Deployment::PasswordService::Mode::RANDOM,
                                          :text    => Staypuft::Deployment::PasswordService::Mode::LABELS[Staypuft::Deployment::PasswordService::Mode::RANDOM])
            %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="form_actions">
      <% if !is_new %>
        <%= link_to _("Cancel"), deployment_path(@deployment),
                    :class => "btn btn-danger" %>
      <% else %>
        <%= link_to _("Cancel"), deployment_path(@deployment),
                    :method  => :delete,
                    :confirm => _("This will clear whole deployment configuration. Are you sure?"),
                    :class   => "btn btn-danger" %>
      <% end %>
      <%= button_tag(:type => 'submit', :class => "btn btn-primary pull-right") do %>
        <%= _("Next") %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </div>
  <% end %>
<% end %>
