<%= javascript 'staypuft/subnets_assignment' %>
<%= javascript 'staypuft/new_subnet' %>

<%= render :layout => 'title' do %>
  <%= alert_if_deployed %>

  <div class="well deployment-wizard">
    <div class="wizard-container">
      <%= deployment_wizard 2 %>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= base_errors_for @deployment %>
        <h4><%= _("Available Network Traffic Types") %></h4>
        <div id="subnet_types" class="panel panel-default">
          <div class="panel-body">
            <% @deployment.unassigned_subnet_types.each do |subnet_type| %>
              <%= render 'staypuft/subnet_types/subnet_type_pull', :subnet_type => subnet_type, :deployment => @deployment %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="title_action" class="col-md-12">
        <div class="btn-toolbar pull-right">
          <button type="button" class= "btn btn-success"
                  id="new_subnet_button" data-toggle = "modal"
                  data-target = "#new_subnet_modal">
            <%= _("New Subnet") %>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="subnets" class="col-md-12">
        <h4><%= _("Subnets") %></h4>
        <% @subnets.each do |subnet| %>
          <%= render 'staypuft/subnets/drop_zone', :subnet => subnet, :deployment => @deployment %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= form_for(@deployment, :url => wizard_path, :method => 'PUT', :html => {:class => ''}) do |f| %>
          <div class="form_actions">
            <a class="btn btn-default" href="<%= previous_wizard_path %>">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <%= _("Back") %>
            </a>
            <%= link_to _("Cancel"), deployment_path(@deployment),
                        :class => "btn btn-danger cancel" %>
            <%= button_tag(:type => 'submit', :class => "btn btn-primary pull-right", :id => "vip_modal_button" ) do %>
              <%= _("Next") %>
              <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new_subnet_modal" tabindex="-1" role="dialog" aria-labelledby="<%= _("New Subnet") %>" aria-hidden="true" data-path="<%= new_staypuft_subnet_path(:deployment_id => @deployment) %>">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title">
              <%= _("New Subnet") %>
            </h2>
          </div>
          <div id="new_subnet_ajax_content">
            <div class="modal-body">
              <div id="new_subnet_form"><%= image_tag '/assets/spinner.gif', style: "display: block; margin-left: auto; margin-right: auto" %></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"><%= _("Cancel") %></button>
              <button id="create_subnet_btn" type="button" class="btn btn-primary done" data-dismiss="modal"><%= _("Done") %></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="modal fade" id="vip_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4><%= image_tag '/assets/spinner.gif', style: "float: left; display: block; margin-left: auto; margin-right: 10px;" %> Generating network configuration. This may take a few moments.</h4>
        </div>
      </div>
    </div>
  </div>

<% end %>
