<%= render :layout => 'title' do %>
  <%= alert_if_deployed %>

  <%= form_for(@deployment, :url => wizard_path, :method => 'PUT') do |f| %>
    <%= base_errors_for @deployment %>

    <%= deployment_wizard 4 %>
    <div class="form-group tabbed_side_nav_form row">
      <ul class="nav nav-pills nav-stacked col-md-3 configuration" data-tabs="pills">
        <h3><%= _("Services") %></h3>
        <% @services_map.each_with_index do |service_name, i| %>
          <% service = @deployment.send(service_name)
             if service.active?
          %>
            <li class="">
              <a href="#<%= service_name  %>" data-toggle="tab">
                <%= service_name.capitalize %>
              </a>
            </li>
            <% end %>
        <% end %>
      </ul>

      <div class="tab-content col-md-9">
        <% @services_map.each_with_index do |service_name, i| %>
          <% service = @deployment.send(service_name)
             if service.active?
          %>
            <div class="tab-pane" id="<%= service_name %>">
              <h3><%= _("%s Service Configuration") % service_name.to_s.capitalize %></h3>
              <%= render partial: service_name.to_s, locals: {f: f}%>
            </div>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="form_actions">
      <a class="btn btn-default" href="<%= previous_wizard_path %>">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <%= _("Back") %>
      </a>
      <%= link_to _("Cancel"), deployment_path(@deployment),
                  :class => "btn btn-danger" %>
      <%= button_tag(:type => 'submit', :class => "btn btn-primary pull-right") do %>
        <%= _("Next") %>
      <% end %>
    </div>
  <% end %>
<% end %>
