<%= render :layout => 'title' do %>
  <%= alert_if_deployed %>

  <div class="deployment-wizard">
  <%= form_for(@deployment, :url => wizard_path, :method => 'PUT') do |f| %>
    <%= base_errors_for @deployment %>

    <%= deployment_wizard 3 %>
    <h3><%= _("Deployment Roles & Available Services") %></h3>
    <h4><%= "#{@deployment.layout.name} - #{@deployment.layout.networking.capitalize} " + _("Networking") %></h4>

    <%= render partial: @deployment.networking + "_ha"%>

    <%= render :partial => "wizard_form_buttons", 
               :locals => { :deployment => @deployment,
                            :step => Staypuft::Deployment::STEP_OVERVIEW } %>
  <% end %>
  </div>

<% end %>
