<%= render :layout => 'title' do %>
  <%= alert_if_deployed %>

  <%= form_for(@deployment, :url => wizard_path, :method => 'PUT') do |f| %>
    <%= base_errors_for @deployment %>

    <%= deployment_wizard 3 %>
    <div class="form-group tabbed_side_nav_form row">
      <ul class="nav nav-pills nav-stacked col-md-3" data-tabs="pills">
        <h3><%= _("Services") %></h3>
        <% @service_hostgroup_map.each_with_index do |(service, hostgroup), i| %>
          <li class="<%= 'active' if i == 0 %>">
            <a href="#<%= service.name.parameterize.underscore %>" data-toggle="tab">
              <%= service.name %>
            </a>
          </li>
        <% end %>
      </ul>

      <div class="tab-content col-md-9">
        <% @service_hostgroup_map.each_with_index do |(service, hostgroup), i| %>
          <div class="tab-pane <%= 'active' if i == 0 %>" id="<%= service.name.parameterize.underscore %>">
            <h3><%= "#{service.name} " + _("Service Configuration") %></h3>
            <% if (params_hash = service.ui_params_for_form(hostgroup)).size > 0 %>
              <% params_hash.each do |param_hash| %>
                <div class="row">
                  <div class="col-md-4 control-label">
                    <%= label_tag param_hash[:param_key].key %>
                  </div>
                  <div class="col-md-5">
                    <%= text_field_tag format("staypuft_deployment[hostgroup_params][%s][puppetclass_params][%s][%s]",
                                              param_hash[:hostgroup].id,
                                              param_hash[:puppetclass].id,
                                              param_hash[:param_key].key),
                                       param_hash[:hostgroup].current_param_value_str(param_hash[:param_key]),
                                       :class => "form-control",
                                       :size  => "45" %>
                  </div>
                </div>
                <br/>
              <% end %>
            <% else %>
              <p><%= _("No configuration needed for this service.") %></p>
            <% end %>
            <% # render "puppetclasses/classes_parameters", { :obj => service.hostgroups.first } %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form_actions">
      <a class="btn btn-default" href="<%= previous_wizard_path %>">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <%= _("Back") %>
      </a>
      <%= link_to _("Cancel"), deployment_path(@deployment),
                  :class => "btn btn-danger" %>
      <%= button_tag(:type => 'submit', :class => "btn btn-primary pull-right") do %>
        <%= _("Submit") %>
      <% end %>
    </div>
  <% end %>
<% end %>
