<%= javascript 'staypuft/nics_assignment' %>

<script>
</script>

<% title _("Configure Interfaces (%s hosts)") % @hosts.size %>

<div class="row">
  <div class="col-md-12">
    <h3 data-toggle="collapse" data-target="#hosts_to_configure"><%= @hosts.count %> <%= "#{n_('Host', 'Hosts', @hosts.count)} #{_('to be configured')}" %> <span class="small glyphicon glyphicon-chevron-down"></span></h3>
    <div id="hosts_to_configure" class="collapse">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th><%= sort :name, :as => _('Host Name') %></th>
            <th><%= @host.primary_interface %></th>
            <% @interfaces.each do |interface| %>
              <th><%= interface.identifier %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @hosts.each do |host| %>
            <tr>
              <td class="ellipsis">
               <%= host_label(host) %>
              </td>
              <td>
                <%= host.mac %><br/>
                <%= host.ip %>
              </td>
              <% if host.interfaces.present? %>
                <td>
                  <% host.interfaces.each do |interface| %>
                    <%= interface.mac %><br/>
                    <%= interface.ip %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3><%= _("Configured Networks") %></h3>
    <div id="subnets" class="panel panel-default">
      <div class="panel-body">
        <% @subnets.each do |subnet| %>
        <% next if is_pxe?(@deployment, subnet) # we skip PXE network which is always on primary interface %>
        <% next if @host.interfaces.vip.where(:subnet_id => subnet.id).present? # we skip assigned subnets %>
          <%= render 'staypuft/subnets/subnet_pull',
                     :subnet => subnet,
                     :deployment => @deployment,
                     :active => true,
                     :existing => false %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3><%= _("Network Interfaces") %></h3>
    <% if (subnet = @host.subnet) %>
      <%= render 'staypuft/interfaces/drop_zone',
                 :identifier => @host.primary_interface,
                 :subnet => subnet,
                 :deployment => @deployment,
                 :host => @host %>
    <% end %>

    <% @interfaces.each do |interface| %>
      <%= render 'staypuft/interfaces/drop_zone',
                 :identifier => interface.identifier,
                 :subnet => interface.subnet,
                 :deployment => @deployment,
                 :host => @host %>
    <% end %>
  </div>
</div>
