<% if hosts.any? %>
<h4 class="pull-left"><%= _("Assigned Hosts") %></h4>
<div class="" id="table_assigned_hosts">
  <%= form_tag(unassign_host_deployment_path(id: @deployment), class: 'form-horizontal association', method: 'post') do |f| %>
    <div class="pull-right top_actions">
      <%= render partial: "hosts_filter" %>
      <div class="pull-right">
        <button type="button" class= "btn btn-default btn-sm"
                id="configure_networks_button" data-toggle = "modal"
                data-target = "#configure_networks_modal" disabled="true"><%= _("Configure Networks") %></button>
        <%= submit_tag _("Unassign Hosts"), :class => "btn btn-primary btn-sm", :disabled => true, :id => "unassign_hosts_button" %>
      </div>
    </div>
    <div id="assigned-hosts_table"><%= render partial: "hosts_table", locals: { hosts: hosts, deployment_role_col: true } %></div>
    <div class="modal fade" id="configure_networks_modal" tabindex="-1" role="dialog" aria-labelledby="<%= _("Configure Networks") %>" aria-hidden="true" data-path="<%= deployment_interface_assignments_path(@deployment.id)  %>" data-refresh_path="<%= refresh_assigned_hosts_deployment_path(@deployment.id)%>">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="configure_networks_modal_label">
              <%= _("Configure Networks") %>
            </h2>
          </div>
          <div class="modal-body">
            <div id="interfaces"><%= image_tag '/assets/spinner.gif', style: "display: block; margin-left: auto; margin-right: auto" %></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%= _("Cancel") %></button>
            <button type="button" class="btn btn-primary done" data-dismiss="modal"><%= _("Done") %></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% else %>
  <div class="association">
    <h4><%= _("Assigned Hosts") %></h4>
    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-warning-sign">&nbsp;</span>
      <%= _("There are no currently assigned hosts.") %>
    </div>
  </div>
<% end %>
