<% if hosts.any? %>
<div class="" id="table_assigned_hosts">
  <%= form_tag(associate_host_deployment_path(id: @deployment), class: 'form-horizontal association') do |f| %>
    <div class="pull-right top_actions">
      <%= submit_tag _("Configure Networks"), :class => "btn btn-default btn-sm", :style => "visibility: hidden" %>
      <%= submit_tag _("Unassign Hosts"), :class => "btn btn-primary btn-sm", :style => "visibility: hidden" %>
    </div>
    <h4 class="pull-left"><%= _("Assigned Hosts") %></h4>
    <p class="clearfix"></p>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th class="ca">
            <%= tag :input, type: 'checkbox', class: 'check_all' %>
          </th>
          <th><%= sort :name, :as => _('Name') %></th>
          <th><%= _("Deployment Role") %></th>
          <th><%= _("CPUs") %><br/><span class="text-muted small"><%= _("(cores)") %></span></th>
          <th><%= _("Memory") %><br/><span class="text-muted small"><%= _("(GB)") %></span></th>
          <th><%= _("NICs") %></th>
          <th class="hidden-s hidden-xs"><%= sort :ip, :as => _('IP Address') %></th>
        </tr>
      </thead>
      <tbody>
        <% hosts.each do |host| %>
          <tr class="checkbox_highlight">
            <td class="ca">
              <%= check_box_tag 'host_ids[]',
                                host.id,
                                false,
                                id:       "host_ids_#{host.id}" %>
            </td>
            <td class="ellipsis">
             <%= host_label(host) %>
            </td>
            <td class="ellipsis">
              <%= link_to(host.hostgroup.role, hosts_path(:search => "os_description = #{host.hostgroup.role}")) if host.hostgroup %>
            </td>
            <td><%= host.cpus %></td>
            <td><%= host.mem %></td>
            <td><%= host.network_interfaces.join('<br/>') if host.network_interfaces %></td>
            <td class="hidden-s hidden-xs"><%= host.ip %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<% else %>
  <div class="association">
    <h4><%= _("Assigned Hosts") %></h4>
    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-warning-sign">&nbsp;</span>
      <%= _("There are no currently assigned hosts.") %>
    </div>
  </div>
<% end %>
