<div class="modal fade" id="all_details_modal" tabindex="-1" role="dialog" aria-labelledby="All Details" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="all_details_modal_label">
          <span class="glyphicon glyphicon-cog">
          </span> <%= _("All Details") %>
        </h2>
      </div>
      <div class="modal-body" style="max-height: 600px; overflow: auto;">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-1">
              <h4><%= @deployment.ha? ? _("VIP list") : _("Controller IPs") %></h4>
              <% if @deployment.ha? %>
                <% Staypuft::Deployment::VIPS::VIP_NAMES.keys.each do | vip_name | %>
                <div class="row">
                  <label class="col-sm-4 control-label text-muted"><%= "#{vip_name}:" %></label>
                  <div class="col-sm-8">
                    <p class="form-control-static"><%= @deployment.vips.get(vip_name) %></p>
                  </div>
                </div>
                <% end %>
              <% else %>
                <% @deployment.ips.controller_ips(Staypuft::SubnetType::MANAGEMENT).each do |ip| %>
                  <%= ip %> what subnet type here?
                <% end %>
              <% end %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-8 col-sm-offset-1">
            <h4><%= _("User Passwords") %></h4>
              <% @deployment.passwords.services_passwords(:user).each_pair do |user, pw| %>
                <div class="row">
                  <label class="col-sm-4 control-label text-muted"><%= "#{user.to_s.gsub('_', ' ').split('user')[0].capitalize}:" %></label>
                  <div class="col-sm-8">
                    <p class="form-control-static"><%= pw %></p>
                  </div>
                </div>
              <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 col-sm-offset-1">
            <h4><%= _("Database Passwords") %></h4>
              <% @deployment.passwords.services_passwords(:db).each_pair do |user, pw| %>
                <div class="row">
                  <label class="col-sm-4 control-label text-muted"><%= "#{user.to_s.gsub('_', ' ').split('db')[0].capitalize}:" %></label>
                  <div class="col-sm-8">
                    <p class="form-control-static"><%= pw %></p>
                  </div>
                </div>
              <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
