<div class="deployment_summary_pane">
  <% if @deployment.deployed? %>
    <div class="row">
      <div class="col-sm-12 text-center"><h1 class="glyphicon glyphicon-ok text-muted"></h1></div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center"><h3 class="text-muted"><%= _("Deployed") %></h3></div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form class="form-horizontal">
          <% if @deployment.horizon_url %>
            <div class="form-group">
              <label class="col-sm-4 control-label text-muted"><%= _("Horizon URL") %></label>

              <div class="col-sm-8">
                <p class="form-control-static"><%= link_to @deployment.horizon_url, @deployment.horizon_url %></p>
              </div>
            </div>
          <% end %>
          <div class="form-group">
            <label class="col-sm-4 control-label text-muted"><%= _("Username") %></label>

            <div class="col-sm-8">
              <p class="form-control-static">admin</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label text-muted"><%= _("Password") %></label>

            <div class="col-sm-8">
              <p class="form-control-static">
                <span class="shown_password hide"><%= @deployment.passwords.admin %></span>
                <span class="hidden_password">********</span>
                <a href="" id="hidden_password_toggle">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  <span class="glyphicon glyphicon-eye-close hide"></span>
                </a>
              </p>
            </div>
          </div>
        </form>
        <div class="row text-center">
          <%= link_to(_("Access all details"), "", :'data-toggle' => "modal", :'data-target' => "#all_details_modal", :class => "btn btn-default") %>
        </div>
      </div>
    </div>
  <% elsif @deployment.in_progress? %>
    <script>
      // Polling for progress bar updates
      var pollingInterval = 10000;
      setTimeout(updateProgress, pollingInterval);

      function updateProgress() {
        var url = $("#deployment_progress_bar").attr("data-poll-url");
        $.getScript(url);
        setTimeout(updateProgress, pollingInterval);
      }
    </script>

    <div class="row">
      <div class="col-sm-12 text-center"><h3 class="text-muted"><%= _("Deploying") %></h3></div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center" id="deployment_progress_bar" data-poll-url="<%= deployment_path(@deployment) %>">
        <%= render :partial => "deployment_progress_bar", :locals => { :deployment => @deployment } %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= display_link_if_authorized(
                _('Show more details'),
                hash_for_foreman_tasks_task_path(id: @deployment.task.id)) %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-sm-12 text-center"><h3 class="text-muted"><%= _("Not deployed, yet.") %></h3>
      </div>
    </div>
  <% end %>
</div>
