<% if hosts.any? %>
<div class="" id="table_deployed_hosts">
  <%= form_tag(associate_host_deployment_path(id: @deployment), class: 'form-horizontal association') do |f| %>
    <div class="pull-right top_actions">
      <%= submit_tag _("Unassign Hosts"),
          :class => "btn btn-danger btn-sm pull-right",
          :'data-toggle' => "tooltip",
          :'data-placement' => "left",
          :id => "undeploy_hosts_modal",
          :disabled => true,
          :title => _("Unassigning deployed hosts may lead to unexpected problems.") %>
    </div>
    <h4 class="pull-left"><%= _("Deployed Hosts") %></h4>
    <p class="clearfix"></p>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th class="ca">
            <%= tag :input, type: 'checkbox', class: 'check_all' %>
          </th>
          <th><%= sort :name, :as => _('Name') %></th>
          <th><%= _("Operating System") %></th>
          <th><%= _("Model") %></th>
          <th><%= _("Deployment Role") %></th>
          <th><%= _("Last Report") %></th>
        </tr>
      </thead>
      <tbody>
        <% hosts.each do |host| %>
          <tr class="checkbox_highlight">
            <td class="ca">
              <%= check_box_tag 'host_ids[]',
                                host.id,
                                false,
                                id:       "host_ids_#{host.id}" %>
            </td>
            <td class="ellipsis">
             <%= host_label(host) %>
            </td>
            <td class="ellipsis">
              <%= link_to(host.os.to_label, hosts_path(:search => "os_description = #{host.os.description}")) if host.os %>
            </td>
            <td><%= host.model_type %></td>
            <td class="ellipsis">
              <%= link_to(host.hostgroup.role, hosts_path(:search => "os_description = #{host.hostgroup.role}")) if host.hostgroup %>
            </td>
            <td><%= host.last_report %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<% else %>
  <div class="association">
    <h4><%= _("Deployed Hosts") %></h4>
    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-warning-sign">&nbsp;</span>
      <%= _("There are no currently deployed hosts.") %>
    </div>
  </div>
<% end %>
