<% if @deployment.deployed? %>
  <div class="deployment-overview">
      <div class="glyphicon glyphicon-check deployed"></div>
      <div class="progress-header">
        <strong class="text-muted"><%= _("Deployed") %></strong>
      </div>
      <table>
        <tr>
          <td>Horizon URL</td>
          <td>http://localhost:9090/horizon</td>
        </tr>
        <tr>
          <td>Username</td>
          <td>admin</td>
        </tr>
        <tr>
          <td>Password</td>
          <td>********</td>
        </tr>
      </table>
  </div>
<% elsif @deployment.in_progress? %>
  <div class="deployment-overview">
      <div class="progress-header">
        <strong class=""><%= _("Deploying") %></strong>
      </div>
      <% progress = 100 * @deployment.task.progress %>
      <%= "#{progress.round(1)}% #{_('Complete')}" %>
      <div class="progress progress-striped <%= 'active' if @deployment.task.state == 'running' %>">
        <% classes = ['progress-bar',
                      case @deployment.task.result
                      when 'success'
                        'progress-bar-success'
                      when 'error'
                        'progress-bar-danger'
                      else
                        nil
                      end]
        %>
        <div class="<%= classes.join ' ' %>"
             role="progressbar"
             aria-valuenow="<%= progress %>"
             aria-valuemin="0"
             aria-valuemax="100"
             style="width: <%= progress %>%;">
          <span class="sr-only"><%= progress %>% Complete</span>
        </div>
      </div>
      <div>
        <%= display_link_if_authorized(
              _('Show more details'),
              hash_for_foreman_tasks_task_path(id: @deployment.task.id)) %>
      </div>
    </div>
<% end %>