<div style="width: 100%; display: inline-block;">
  <%= edit_textfield(@deployment, :description, options={ :update_url => deployment_path(@deployment) }) %>
</div>

<div class="row tabbed_side_nav_table">
  <ul class="nav nav-pills nav-stacked col-md-4" data-tabs="pills">
    <h3><%= _("Deployment Roles") %></h3>
    <% @deployment.child_hostgroups.deploy_order.each_with_index do |child_hostgroup, i| %>
      <li>
        <div class="col-xs-2">
          <% if child_hostgroup.hosts.select { |h| !@deployment.in_progress? && h.open_stack_deployed? }.count > 0 %>
            <a href="#<%= child_hostgroup.name.parameterize.underscore %>_deployed_hosts" data-toggle="tab" class="roles_list">
              <span><%= child_hostgroup.hosts.select { |h| !@deployment.in_progress? && h.open_stack_deployed? }.count %></span>
            </a>
          <% else %>
            <span><%= child_hostgroup.hosts.select { |h| !@deployment.in_progress? && h.open_stack_deployed? }.count %></span>
          <% end %>
        </div>
        <div class="col-xs-6">
          <div class="group_name">
            <%= child_hostgroup.name %>
          </div>
        </div>
        <div class="col-xs-2">
          <% if child_hostgroup.hosts.select { |h| !(!@deployment.in_progress? && h.open_stack_deployed?) }.count > 0 %>
            <a href="#<%= child_hostgroup.name.parameterize.underscore %>_assigned_hosts" data-toggle="tab" class="roles_list">
              <% if child_hostgroup.hosts.select { |h| (@deployment.in_progress? && h.open_stack_deployed?) }.count > 0 %>
                <%= image_tag '/assets/spinner.gif' %>
              <% else %>
                <i class="glyphicon glyphicon-time"></i>
              <% end %>
              <span><%= child_hostgroup.hosts.select { |h| !(!@deployment.in_progress? && h.open_stack_deployed?) }.count %></span>
            </a>
          <% end %>
        </div>
        <div class="col-xs-2">
          <a href="#<%= child_hostgroup.name.parameterize.underscore %>_free_hosts" data-toggle="tab" class="roles_list">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="tab-content col-md-8">
    <% @deployment.child_hostgroups.deploy_order.each_with_index do |child_hostgroup, i| %>
      <%= render 'free_hosts_table', :deployment => @deployment,
                 :hostgroup => @hostgroup,
                 :child_hostgroup => child_hostgroup,
                 :hosts => child_hostgroup.free_hosts %>
      <%= render 'assigned_hosts_table', :deployment => @deployment,
                 :hostgroup => @hostgroup,
                 :child_hostgroup => child_hostgroup,
                 :hosts => child_hostgroup.hosts %>
      <%= render 'deployed_hosts_table', :deployment => @deployment,
                 :hostgroup => @hostgroup,
                 :child_hostgroup => child_hostgroup,
                 :hosts => child_hostgroup.hosts.select { |h| !@deployment.in_progress? && h.open_stack_deployed? } %>
    <% end %>
    <%= render :partial => "deployment_summary", :locals => { :deployment => @deployment } %>
  </div>
</div>

<div class="modal fade" id="deploy_modal" tabindex="-1" role="dialog" aria-labelledby="Deploy" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="deploy_modal_label">
          <span class="glyphicon glyphicon-cloud-upload">
          </span> <%= _("Deploy") %>
        </h2>
      </div>
      <div class="modal-body">
        <%= (_("This action will initiate the deployment of %s ") % "<strong>#{@deployment.name}</strong>").html_safe %>
        <div class="deploy-changes">
          <strong><%= _("Resulting OpenStack Deployment") %>:</strong>
          <% @deployment.child_hostgroups.deploy_order.each do |child_hostgroup| %>
            <div <%= "class=text-muted".html_safe if child_hostgroup.hosts.count == 0 %>>
              <strong><%= "#{child_hostgroup.hosts.count} x" %></strong>
              <%= "#{child_hostgroup.name}" %>
            </div>
          <% end %>
        </div>
        <div class="network_checkbox">
          <%= check_box_tag 'networks_configured' %>
          <%= label_tag 'networks_configured', _("The networks have been configured for these hosts.") %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="network_checkbox_unchecked"><p class="small"><%= _("In order to deploy, you must acknowledge that networks have been configured by checking above.") %></p></div>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= _("Cancel") %></button>
        <%= display_link_if_authorized(_("Deploy"),
                                       hash_for_deploy_deployment_path,
                                       :class  => 'btn btn-primary disabled',
                                       :method => :post,
                                       :data   => { :disable_with => _("Deploying...") }) %>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "deployment_access_all_details_dialogue", :locals => { :deployment => @deployment } %>
