<div class="tab-pane" id="<%= child_hostgroup.name.parameterize.underscore %>_deployed_hosts">
  <% if child_hostgroup.hosts.select { |h| !ForemanTasks::Lock.locked?(deployment, nil) && h.open_stack_deployed? }.present? %>
    <%= form_tag(unassign_host_deployment_path(id: deployment), class: 'form-horizontal well association') do |f| %>
      <%= submit_tag _("Unassign Hosts"),
          :class => "btn btn-danger btn-sm pull-left",
          :'data-toggle' => "tooltip",
          :'data-placement' => "right",
          :title => _("Unassigning deployed hosts may lead to unexpected problems.") %>
      <h4 class="pull-left"><%= _("Deployed Hosts") %></h4>
      <button type="button" class="close" aria-hidden="true">×</button>
      <p class="clearfix"></p>
      <%= hidden_field_tag :hostgroup_id, child_hostgroup.id %>
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th class="ca">
              <%= tag :input, type: 'checkbox', class: 'check_all' %>
            </th>
            <th><%= sort :name, :as => _('Name') %></th>
            <th class="hidden-s hidden-xs"><%= sort :ip, :as => _('IP Address') %></th>
          </tr>
        </thead>
        <tbody>
          <% child_hostgroup.hosts.select{ |h| !ForemanTasks::Lock.locked?(deployment, nil) && h.open_stack_deployed? }.each do |host| %>
            <tr class="checkbox_highlight deployed">
              <td class="ca">
                <%= check_box_tag 'host_ids[]',
                                  host.id,
                                  false,
                                  id:       "host_ids_#{host.id}" %>
              </td>
              <td class="ellipsis">
               <%= host_label(host) %>
              </td>
              <td class="hidden-s hidden-xs"><%= host.ip %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <div class="well association">
      <button type="button" class="close pull-right" aria-hidden="true">×</button>
      <h4><%= _("Deployed Hosts") %></h4>
      <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign">&nbsp;</span>
        <%= _("No hosts from this group have been deployed yet.") %>
      </div>
    </div>
  <% end %>
</div>
