<div class="tab-pane" id="<%= child_hostgroup.name.parameterize.underscore %>_free_hosts">
  <% if hosts.present? %>
    <%= form_tag(associate_host_deployment_path(id: deployment), class: 'form-horizontal well association') do |f| %>

      <%= render 'hosts_header', :header => _("Unassigned Hosts"), :child_hostgroup => child_hostgroup, :assign_text => _("Assign Hosts") %>

      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <%= render 'host_head_row' %>
        </thead>
        <tbody>
          <% hosts.each do |host| %>
            <%= render 'host_row',
                       :host => host,
                       :checkbox_value => child_hostgroup.host_ids.include?(host.id) %>
          <% end %>
        </tbody>
      </table>

    <% end %>
  <% else %>
    <%= render 'empty_hosts', :header => _("Unassigned Hosts"), :message => _("All available hosts have been already assigned.") %>
  <% end %>
</div>
