<% if hosts.exists? %>
<div class="" id="table_free_hosts">
  <%= form_tag(associate_host_deployment_path(id: @deployment), class: 'form-horizontal association') do |f| %>
    <div class="pull-right top_actions">
      <%= submit_tag _("Configure Networks"), :class => "btn btn-default btn-sm", :style => "visibility: hidden" %>
      <button type="button" class= "btn btn-primary btn-sm"
              id="assign_hosts_modal" data-toggle = "modal"
              data-target = "#role_modal" disabled="true"><%= _("Assign Hosts") %></button>
    </div>
    <h4 class="pull-left"><%= _("Free Hosts") %></h4>
    <p class="clearfix"></p>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th class="ca">
            <%= tag :input, type: 'checkbox', class: 'check_all' %>
          </th>
          <th><%= sort :name, :as => _('Name') %></th>
          <th><%= _("Operating System") %></th>
          <th><%= _("CPUs") %><br/><span class="text-muted small"><%= _("(cores)") %></span></th>
          <th><%= _("Memory") %><br/><span class="text-muted small"><%= _("(GB)") %></span></th>
          <th><%= _("NICs") %></th>
          <th class="hidden-s hidden-xs"><%= sort :ip, :as => _('IP Address') %></th>
        </tr>
      </thead>
      <tbody>
        <% hosts.each do |host| %>
          <tr class="checkbox_highlight">
            <td class="ca">
              <%= check_box_tag 'host_ids[]',
                                host.id,
                                false,
                                id:       "host_ids_#{host.id}" %>
            </td>
            <td class="ellipsis">
             <%= host_label(host) %>
            </td>
            <td class="ellipsis">
              <%= link_to(host.os.to_label, hosts_path(:search => "os_description = #{host.os.description}")) if host.os %>
            </td>
            <td><%= host.cpus %></td>
            <td><%= host.mem %></td>
            <td><%= host.network_interfaces.join('<br/>') if host.network_interfaces %></td>
            <td class="hidden-s hidden-xs"><%= host.ip %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="modal fade" id="role_modal" tabindex="-1" role="dialog" aria-labelledby="Deployment Roles" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="deploy_modal_label">
              <span class="glyphicon glyphicon-th-list">
              </span> <%= _("Deployment Roles") %>
            </h2>
          </div>
          <div class="modal-body">
            <h3><%= _("Choose a deployment role to assign these to:") %></h3>
            <div class="">
              <% @deployment.child_hostgroups.each do |child_hostgroup| %>
                <div class="form-inline">
                  <%= radio_button_tag(:hostgroup_id, child_hostgroup.id, false) %>
                  <%= label_tag(child_hostgroup.id, child_hostgroup.name) %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%= _("Cancel") %></button>
            <%= submit_tag _("Assign Hosts"), :class => "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% else %>
  <div class="association">
    <h4><%= _("Free Hosts") %></h4>
    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-warning-sign">&nbsp;</span>
      <%= _("All available hosts have been already assigned.") %>
    </div>
  </div>
<% end %>
