<% title _("OpenStack Deployments") %>

<% title_actions display_link_if_authorized(_("New Deployment"), hash_for_new_deployment_path, :class => 'btn btn-success'), help_path %>

<% if @deployments.present? %>

  <table class="table table-bordered table-striped">
    <tr>
      <th><%= sort :name, :as => _('Deployment Name') %></th>
      <th></th>
    </tr>
    <% @deployments.each do |deployment| %>
      <tr>
        <td> <%= link_to deployment.name, deployment_path(deployment.id) %> </td>
        <td>  <%= action_buttons(
                      display_delete_if_authorized(hash_for_deployment_path(:id => deployment.id), :confirm => _("Are you sure?"))) %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= page_entries_info @deployments %>
  <%= will_paginate @deployments %>

<% else %>

  <%= alert :header => _('There are no deployments yet.'),
            :text   => _('Please create at least one Deployment.'),
            :close  => false,
            :class  => 'alert-info' %>

<% end %>
