<% title _("OpenStack Deployments") %>
<% if @deployments.present? %>
  <table class="table table-bordered table-striped">
    <tr>
      <th><%= sort :name, :as => _('Deployment Name') %></th>
    </tr>
    <% @deployments.each do |deployment| %>
      <tr>
        <td> <%= link_to deployment.name, deployment_path(deployment.id) %> </td>
      </tr>
    <% end %>
  </table>
  <%= page_entries_info @deployments %>
  <%= will_paginate     @deployments %>
<% else %>
<% title_actions display_link_if_authorized(_("New Deployment"), hash_for_new_deployment_path, :class => 'btn-success'), help_path %>

<%= alert :header => _('There are no deployments yet.'),
          :text   => _('Please create at least one Deployment.'),
          :close  => false,
          :class  => 'alert-info' %>
<% end %>
