<% title @deployment.name %>

<% content_for(:title_actions) do %>

  <%= link_to(_("Edit"), if @deployment.deployed?
                           deployment_step_path(deployment_id: @deployment, id: 'services_configuration')
                         else
                           deployment_steps_path(deployment_id: @deployment)
                         end) %>
  <div class="btn-group dropdown keep-open">
    <button type="button" class="btn btn-default dropdown-toggle" role="button" href="#"
            data-toggle="dropdown" data-target="#">
      <%= _('Configuration') %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown keep-open" role="menu">
      <li><%= link_to(_("Summary"), summary_deployment_path(@deployment.id), :class => '') %></li>
      <li>
        <%= link_to(icon_text("cloud-upload", _("Import")),
                    {},
                    { :remote => true,
                      :rel    => 'popover',
                      :data   => { 'content'        => "#{render partial: 'import_form'}",
                                   'original-title' => _('Import Config'),
                                   'placement'      => 'left', } }) %>
      </li>
      <li>
        <%= link_to(icon_text("cloud-download", _("Export")),
                    export_config_deployment_path(@deployment.id)) %>
      </li>
    </ul>
  </div>

  <% if Rails.env.development? %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <%= _('Populate with') %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <%= display_link_if_authorized(_("Real assigned Hosts"), hash_for_populate_deployment_path(assign: true)) %>
        </li>
        <li>
          <%= display_link_if_authorized(_("Real unassigned Hosts"), hash_for_populate_deployment_path) %>
        </li>
        <li>
          <%= display_link_if_authorized(_("Fake unassigned Hosts"), hash_for_populate_deployment_path(:fake => true)) %>
        </li>
      </ul>
    </div>
  <% end %>

  <% if ForemanTasks::Lock.locked? @deployment, nil %>
    <%= display_link_if_authorized(
            _('Deploy in progress'),
            hash_for_foreman_tasks_task_path(id: ForemanTasks::Lock.colliding_locks(@deployment, nil).first.task.id),
            :class => 'btn-info') %>
  <% else %>
    <%= link_to(_("Deploy"),
                "",
                :class         => %w(btn btn-success),
                :'data-toggle' => "modal",
                :'data-target' => "#deploy_modal") %>
  <% end %>


  <%= help_path %>
<% end %>

<div class="row tabbed_side_nav_table">
  <ul class="nav nav-pills nav-stacked col-md-4" data-tabs="pills">
    <h3><%= _("Host Groups") %></h3>
    <% @deployment.child_hostgroups.deploy_order.each_with_index do |child_hostgroup, i| %>
      <li class="<%= 'active' if @hostgroup == child_hostgroup %>">
        <a href="#<%= child_hostgroup.name.parameterize.underscore %>" data-toggle="tab" class="roles_list">
          <div class="col-xs-2 text-center">
            <i class="glyphicon glyphicon-ok"></i>
            <span><%= child_hostgroup.hosts.select { |h| h.open_stack_deployed? && !h.error? }.count %></span>
          </div>
          <div class="col-xs-2 text-center">
            <i class="glyphicon glyphicon-warning-sign"></i>
            <span><%= child_hostgroup.hosts.select { |h| h.open_stack_deployed? && h.error? }.count %></span>
          </div>
          <div class="col-xs-2 text-center">
            <i class="glyphicon glyphicon-time"></i>
            <span><%= child_hostgroup.hosts.select { |h| !h.open_stack_deployed? }.count %></span>
          </div>
          <div class="col-xs-6"><%= child_hostgroup.name %></div>
          <span class="clearfix"></span>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content col-md-8">
    <% @deployment.child_hostgroups.deploy_order.each_with_index do |child_hostgroup, i| %>
      <div class="tab-pane <%= 'active' if @hostgroup == child_hostgroup %>" id="<%= child_hostgroup.name.parameterize.underscore %>">
        <h3><%= _("Hosts") %></h3>
        <% if child_hostgroup.own_and_free_hosts.present? %>
          <%= form_tag(associate_host_deployment_path(id: @deployment), class: 'form-horizontal well association') do |f| %>
            <p>
              <%= submit_tag _("Assign / Unassign"), :class => "btn btn-primary btn-sm" %>
            </p>
            <%= hidden_field_tag :hostgroup_id, child_hostgroup.id %>
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr>
                  <th class="ca">
                    <%= check_box_tag :check_all %>
                  </th>
                  <th><%= sort :name, :as => _('Name') %></th>
                  <th class="hidden-s hidden-xs"><%= _('Deployed?') %></th>
                  <th class="hidden-s hidden-xs"><%= sort :mac, :as => _('MAC Address') %></th>
                  <th class="hidden-s hidden-xs"><%= sort :type, :as => _('Type') %></th>
                </tr>
              </thead>
              <tbody>
                <% child_hostgroup.own_and_free_hosts.each do |host| %>
                  <tr class="<%= ['checkbox_highlight',
                                  ('success' if child_hostgroup.host_ids.include?(host.id)),
                                  ('deployed' if host.open_stack_deployed?)
                                 ].compact.join(' ') %>">
                    <td class="ca">
                      <% disabled = ForemanTasks::Lock.locked?(@deployment, nil) && host.open_stack_deployed? %>
                      <%= check_box_tag 'host_ids[]',
                                        host.id,
                                        child_hostgroup.host_ids.include?(host.id),
                                        id:       "host_ids_#{host.id}",
                                        disabled: disabled %>
                      <%= hidden_field_tag 'host_ids[]', host.id if disabled %>
                    </td>
                    <td class="ellipsis">
                      <% case host %>
                      <% when Host::Managed %>
                        <%= link_to_if_authorized host.name, hash_for_host_path(host) %>
                      <% when Host::Discovered %>
                        <%= link_to_if_authorized host.name, hash_for_discover_path(host) %>
                      <% else %>
                        <%= host.name %>
                      <% end %>
                    </td>
                    <td class="hidden-s hidden-xs">
                      <% if host.open_stack_deployed? %>
                        <span class="glyphicon glyphicon-cloud"></span>
                      <% else %>
                        <span class="glyphicon glyphicon-minus"></span>
                      <% end %>
                    </td>
                    <td class="hidden-s hidden-xs"><%= host.mac %></td>
                    <td class="hidden-s hidden-xs"><%= host.type %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        <% else %>
          <div class="well association">
            <div class="alert alert-warning">
              <span class="glyphicon glyphicon-warning-sign">&nbsp;</span>
              <%= _("All available hosts have been already assigned.") %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="deploy_modal" tabindex="-1" role="dialog" aria-labelledby="Deploy" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="deploy_modal_label">
          <span class="glyphicon glyphicon-cloud-upload">
          </span> <%= _("Deploy") %>
        </h2>
      </div>
      <div class="modal-body">
        <%= (_("This action will initiate the deployment of %s ") % "<strong>#{@deployment.name}</strong>").html_safe %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= _("Cancel") %></button>
        <%= display_link_if_authorized(_("Deploy"),
                                       hash_for_deploy_deployment_path,
                                       :class  => 'btn btn-primary',
                                       :method => :post,
                                       :data   => { :disable_with => _("Deploying...") }) %>
      </div>
    </div>
  </div>
</div>
