<% title @deployment.name %>

<% content_for(:title_actions) do %>

  <%# TODO remove Populate dropdown, it's temporary %>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <%= _('Populate with') %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <%= display_link_if_authorized(_("Real assigned Hosts"), hash_for_populate_deployment_path(assign: true)) %>
      </li>
      <li>
        <%= display_link_if_authorized(_("Real unassigned Hosts"), hash_for_populate_deployment_path) %>
      </li>
      <li>
        <%= display_link_if_authorized(_("Fake unassigned Hosts"), hash_for_populate_deployment_path(:fake => true)) %>
      </li>
    </ul>
  </div>


  <%= display_link_if_authorized(_("Deploy"), hash_for_deploy_deployment_path, :class => 'btn-success') %>
  <%= help_path %>
<% end %>

<div class="row tabbed_side_nav_table">
  <ul class="nav nav-pills nav-stacked col-md-4" data-tabs="pills">
    <h3><%= _("Host Groups") %></h3>
    <% @deployment.child_hostgroups.each_with_index do |child_hostgroup, i| %>
      <li class="<%= 'active' if i == 0 %>">
        <a href="#<%= child_hostgroup.name.parameterize.underscore %>" data-toggle="tab" class="roles_list">
          <div class="col-xs-2 text-center"><span class="glyphicon glyphicon-ok"></span><span><%= child_hostgroup.hosts.count %></span></div>
          <div class="col-xs-2 text-center"><span class="glyphicon glyphicon-warning-sign"></span><span>0</span></div>
          <div class="col-xs-2 text-center"><span class="glyphicon glyphicon-time"></span><span>0</span></div>
          <div class="col-xs-6"><%= child_hostgroup.name %></div>
          <span class="clearfix"></span>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content col-md-8">
    <% @deployment.child_hostgroups.each_with_index do |child_hostgroup, i| %>
      <div class="tab-pane <%= 'active' if i == 0 %>" id="<%= child_hostgroup.name.parameterize.underscore %>">
        <h3><%= _("Hosts") %></h3>
        <%= form_tag(associate_host_deployments_path, class: 'form-horizontal well') do |f| %>
          <p>
            <%= submit_tag _("Apply"), :class => "btn btn-primary btn-sm" %>
          </p>
          <%= hidden_field_tag :hostgroup_id, child_hostgroup.id %>
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th class="ca">
                  <%= check_box_tag :check_all %>
                </th>
                <th><%= sort :name, :as => _('Name') %></th>
                <th class="hidden-s hidden-xs"><%= sort :mac, :as => _('MAC Address') %></th>
                <th class="hidden-s hidden-xs"><%= sort :type, :as => _('Type') %></th>
              </tr>
            </thead>
            <tbody>
              <% child_hostgroup.own_and_free_hosts.each do |host| %>
                <tr class="checkbox_highlight <%= "success" if child_hostgroup.host_ids.include?(host.id) %>">
                  <td class="ca">
                    <%= check_box_tag "host_ids[]", host.id, child_hostgroup.host_ids.include?(host.id), :id => "host_ids_#{host.id}" %>
                  </td>
                  <td class="ellipsis"><%= host.name %></td>
                  <td class="hidden-s hidden-xs"><%= host.mac %></td>
                  <td class="hidden-s hidden-xs"><%= host.type %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

