<% title(@deployment.name, edit_textfield(@deployment, :name, options={:update_url => deployment_path(@deployment)})) %>
<% subtitle edit_textfield(@deployment, :description, options={:update_url => deployment_path(@deployment)}) %>

<% content_for(:top_actions) do %>
  <%= link_to(_("Advanced Configuration"), summary_deployment_path(@deployment.id), :class => 'btn btn-link') %>
  <%= link_to(_("Revisit Setup Wizard"), if @deployment.deployed?
                                           deployment_step_path(deployment_id: @deployment, id: 'services_configuration')
                                         else
                                           deployment_steps_path(deployment_id: @deployment)
                                         end, :class => "btn btn-default") %>

  <%= link_to(_("Deploy"),
              "",
              :class         => @deployment.in_progress? ? %w(btn btn-primary disabled) : %w(btn btn-primary),
              :'data-toggle' => "modal",
              :'data-target' => "#deploy_modal") %>

  <% if Rails.env.development? %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <%= _('Populate with') %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <%= display_link_if_authorized(_("Real assigned Hosts"), hash_for_populate_deployment_path(assign: true)) %>
        </li>
        <li>
          <%= display_link_if_authorized(_("Real unassigned Hosts"), hash_for_populate_deployment_path) %>
        </li>
        <li>
          <%= display_link_if_authorized(_("Fake unassigned Hosts"), hash_for_populate_deployment_path(:fake => true)) %>
        </li>
      </ul>
    </div>
  <% end %>

  <%= help_path %>
<% end %>

<div class="row tabbed_side_nav_table">
  <ul class="nav nav-pills nav-stacked col-md-4" data-tabs="pills">
    <h3><%= _("Deployment Roles") %></h3>
    <% @deployment.child_hostgroups.deploy_order.each_with_index do |child_hostgroup, i| %>
      <li>
        <div class="col-xs-2">
          <% if child_hostgroup.hosts.select { |h| !ForemanTasks::Lock.locked?(@deployment, nil) && h.open_stack_deployed? }.count > 0 %>
            <a href="#<%= child_hostgroup.name.parameterize.underscore %>_deployed_hosts" data-toggle="tab" class="roles_list">
              <span><%= child_hostgroup.hosts.select { |h| !ForemanTasks::Lock.locked?(@deployment, nil) && h.open_stack_deployed? }.count %></span>
            </a>
          <% else %>
            <span><%= child_hostgroup.hosts.select { |h| !ForemanTasks::Lock.locked?(@deployment, nil) && h.open_stack_deployed? }.count %></span>
          <% end %>
        </div>
        <div class="col-xs-6">
          <div class="group_name">
            <%= child_hostgroup.name %>
          </div>
        </div>
        <div class="col-xs-2">
          <% if child_hostgroup.hosts.select { |h| !(!ForemanTasks::Lock.locked?(@deployment, nil) && h.open_stack_deployed?) }.count > 0 %>
            <a href="#<%= child_hostgroup.name.parameterize.underscore %>_assigned_hosts" data-toggle="tab" class="roles_list">
              <% unless @deployment.in_progress? %>
                <i class="glyphicon glyphicon-time"></i>
              <% else %>
                <%= image_tag '/assets/spinner.gif' %>
              <% end %>
              <span><%= child_hostgroup.hosts.select { |h| !(!ForemanTasks::Lock.locked?(@deployment, nil) && h.open_stack_deployed?) }.count %></span>
            </a>
          <% end %>
        </div>
        <div class="col-xs-2">
          <a href="#<%= child_hostgroup.name.parameterize.underscore %>_free_hosts" data-toggle="tab" class="roles_list">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="tab-content col-md-8">
    <% @deployment.child_hostgroups.deploy_order.each_with_index do |child_hostgroup, i| %>
      <%= render :partial => "free_hosts_table", :locals => { :deployment => @deployment,
                                                              :hostgroup => @hostgroup,
                                                              :child_hostgroup => child_hostgroup } %>
      <%= render :partial => "assigned_hosts_table", :locals => { :deployment => @deployment,
                                                                  :hostgroup => @hostgroup,
                                                                  :child_hostgroup => child_hostgroup } %>
      <%= render :partial => "deployed_hosts_table", :locals => { :deployment => @deployment,
                                                                  :hostgroup => @hostgroup,
                                                                  :child_hostgroup => child_hostgroup } %>
    <% end %>
    <%= render :partial => "deployment_summary", :locals => { :deployment => @deployment } %>
  </div>
</div>

<div class="modal fade" id="deploy_modal" tabindex="-1" role="dialog" aria-labelledby="Deploy" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="deploy_modal_label">
          <span class="glyphicon glyphicon-cloud-upload">
          </span> <%= _("Deploy") %>
        </h2>
      </div>
      <div class="modal-body">
        <%= (_("This action will initiate the deployment of %s ") % "<strong>#{@deployment.name}</strong>").html_safe %>
        <div class="deploy-changes">
          <strong><%= _("Resulting OpenStack Deployment") %>:</strong>
          <% @deployment.child_hostgroups.each do |child_hostgroup| %>
            <div <%= "class=text-muted".html_safe if child_hostgroup.hosts.count == 0 %>>
              <strong><%= "#{child_hostgroup.hosts.count} x" %></strong>
              <%= "#{child_hostgroup.name}" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= _("Cancel") %></button>
        <%= display_link_if_authorized(_("Deploy"),
                                       hash_for_deploy_deployment_path,
                                       :class  => 'btn btn-primary',
                                       :method => :post,
                                       :data   => { :disable_with => _("Deploying...") }) %>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "deployment_access_all_details_dialogue", :locals => { :deployment => @deployment } %>