<% title Staypuft::Deployment.first.name %>
<% title_actions display_link_if_authorized(_("Deploy"), hash_for_deploy_deployment_path, :class => 'btn-success'), help_path %>

<div class="row tabbed_side_nav_table">
  <ul class="nav nav-pills nav-stacked col-md-4" data-tabs="pills">
    <h3><%= _("Host Groups") %></h3>
    <% @deployment.child_hostgroups.each_with_index do |child_hostgroup, i| %>
      <li class="<%= 'active' if i == 0 %>">
        <a href="#<%= child_hostgroup.name.parameterize.underscore %>" data-toggle="tab" class="roles_list">
          <div class="col-xs-2 text-center"><span class="glyphicon glyphicon-ok"></span><span>0</span></div>
          <div class="col-xs-2 text-center"><span class="glyphicon glyphicon-warning-sign"></span><span>0</span></div>
          <div class="col-xs-2 text-center"><span class="glyphicon glyphicon-time"></span><span>0</span></div>
          <div class="col-xs-6"><%= child_hostgroup.name %></div>
          <span class="clearfix"></span>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content col-md-8">
    <% @deployment.child_hostgroups.each_with_index do |child_hostgroup, i| %>
      <div class="tab-pane <%= 'active' if i == 0 %>" id="<%= child_hostgroup.name.parameterize.underscore %>">
        <h3><%= _("Hosts") %></h3>
        <%= form_for(child_hostgroup) do |f| %>
          <p>
            <%= f.submit _("Apply"), :class => "btn btn-primary btn-sm" %>
          </p>
          <%= f.fields_for :hosts do |host_form| %>
            <table class="table table-bordered table-striped table-condensed">
              <tr>
                <th>
                  <%= check_box_tag :check_all %>
                </th>
                <th><%= sort :label, :as => _('Host MAC Address') %></th>
                <th><%= sort :label, :as => _('Host IP Address') %></th>
              </tr>
              <% child_hostgroup.own_and_free_hosts.each do |host| %>
                <tr>
                  <td>
                    <%= check_box_tag "hostgroup[host_ids][]", host.id, true , :id => "hostgroup_host_ids_#{host.id}" %>
                  </td>
                  <td><%= host.mac %></td>
                  <td><%= host.ip %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

