<% title _("%s Configuration Parameters") % @deployment.name %>
<% content_for(:top_actions) do %>
  <%= link_to _("Back to Deployment"), deployment_path(@deployment.id), :class => "btn btn-link" %>
  <%= link_to(icon_text("cloud-upload", _("Import")),
              {},
              { :class => "btn btn-default",
                :remote => true,
                :rel    => 'popover',
                :data   => { 'content'        => "#{render partial: 'import_form'}",
                             'original-title' => _('Import Config'),
                             'placement'      => 'left' } }) %>
  <%= link_to(icon_text("cloud-download", _("Export")),
              export_config_deployment_path(@deployment.id), :class => "btn btn-default") %>
  <%= link_to _("Edit"), edit_deployment_path(@deployment.id), :class => "btn btn-default" %>
<% end %>

<div class="col-md-12">
  <div class="form-group tabbed_side_nav_form row">
    <ul class="nav nav-pills nav-stacked col-md-3" data-tabs="pills">
      <h3><%= _("Services") %></h3>
      <% @service_hostgroup_map.each_with_index do |(service, hostgroup), i| %>
        <li class="<%= 'active' if i == 0 %>">
          <a href="#<%= service.name.parameterize.underscore %>" data-toggle="tab">
            <%= service.name %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content col-md-9">
      <% @service_hostgroup_map.each_with_index do |(service, hostgroup), i| %>
        <div class="tab-pane <%= 'active' if i == 0 %>" id="<%= service.name.parameterize.underscore %>">
          <h3><%= "#{service.name} " + _("Service Configuration") %></h3>
          <% if (params_hash = service.ui_params_for_form(hostgroup)).size > 0 %>
            <% params_hash.each do |param_hash| %>
              <div class="row">
                <div class="col-md-4 control-label">
                  <%= label_tag param_hash[:param_key].key %>
                </div>
                <div class="col-md-8">
                  <%= text_field_tag format("staypuft_deployment[hostgroup_params][%s][puppetclass_params][%s][%s]",
                                            param_hash[:hostgroup].id,
                                            param_hash[:puppetclass].id,
                                            param_hash[:param_key].key),
                                     value     = param_hash[:hostgroup].current_param_value_str(param_hash[:param_key]),
                                     :class    => "form-control",
                                     :size     => "45",
                                     disabled: true %>
                  <% if Staypuft::Concerns::LookupKeyExtensions.has_erb? value %>
                    <span class="help-block">
                      <%= _('evaluates to: ') %>
                      <%= Staypuft::Concerns::LookupKeyExtensions.evaluate_value param_hash[:hostgroup], value %>
                    </span>
                  <% end %>
                </div>
              </div>
              <br/>
            <% end %>
          <% else %>
            <p><%= _("No configuration needed for this service.") %></p>
          <% end %>
          <% # render "puppetclasses/classes_parameters", { :obj => service.hostgroups.first }  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
